@mixin moveFromTop($from: -15rem, $to: 0 , $animation-timing: 2s) {
	animation: moveFromTopAnimation $animation-timing ease-in-out;
	@keyframes moveFromTopAnimation {
		from { top: $from }
		to { top: $to }
	}
}

.gameContainer {
	min-height: 20rem;
	overflow: hidden;
	ul {
		@include moveFromTop();
	}
}

.card {
	height: 10rem;
	@media (min-width: 576px) {
		height: 12rem;
	}

	@media (min-width: 992px) {
		height: 14rem;
	}
}