.errorContainer {
	// transition: all 5s ease-in-out;
	animation-name: topToBottom;
  animation-duration: 6s;
	animation-timing-function: ease-in-out;
  animation-play-state: running;
}

@-webkit-keyframes topToBottom {
	0%   { top: -8%; }
	50%, 75% { top: 0}
  100% { top: -8%; }
}
@-moz-keyframes topToBottom {
	0%   { top: -8%; }
	50%, 75% { top: 0}
  100% { top: -8%; }
}
@-o-keyframes topToBottom {
	0%   { top: -8%; }
	50%, 75% { top: 0}
  100% { top: -8%; }
}
@keyframes topToBottom {
	0%   { top: -8%; }
	50%, 75% { top: 0}
  100% { top: -8%; }
}