body {
	background-color: $bg-color;
	color: $font-color;
}

button, input { outline: none; }
button { cursor: pointer; }

ul { list-style: none;}

// a {
//   display: block;
//   font-size: 4vw;
//   color: $font-color;
//   transition: all .3s ease-out;

//   &:hover { color: $light; }
// }
